{% extends 'base.html.twig' %}
{% block header_img %}
{% endblock %}
{% block body %}
    <section class="main-section">
        <h1>Connexion</h1>
        <div class="bg-night p-5 rounded">
            {% if error %}
                <p class="alert alert-danger"
                   role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type="text" id="username" class="form-control" name="_username"
                               value="{{ last_username }}" placeholder="Email or login"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="******"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
