<footer class="container-fluid">
    <div class="container pt-4">
        <span>Copyright &copy; OpenClassrooms</span>
        <span class="text-muted">{{ app.user?app.user.username:''  }}</span>
    </div>
</footer>
