{% extends 'base.html.twig' %}

{% block body %}
    <section class="main-section">
        <div class="call-to-action">
            <h1>Bienvenue sur Todo List</h1>
            <p>l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</p>
        </div>
        <img class="covers-image rounded img-fluid" src="{{ asset('img/todolist_homepage.jpg') }}" alt="ToDo And CO">
    </section>
{% endblock %}
