{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}
{% block page_header %}{{ parent() }} <h2><a href="{{ path('task_list', {"status": "all"}) }}"> Liste des tâches</a></h2><h2> Ajouter une tâche </h2>
{% endblock %}
{% block body %}
    <section class="main-section">
        {{ form_start(form, {'action' : path('task_create')}) }}
        {% include 'task/_task_form.html.twig' %}
        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
