{% extends 'base.html.twig' %}

{% block title %}Erreur fatale{% endblock %}

{% block body %}
    <section id="page-section" class="page-classic">
        <div class="page-section-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 no-padding margin-bottom-40">
                        <div class="page-content">
                            <div class="tt-heading tt-heading-lg">
                                <div class="tt-heading-inner">
                                    <h1 class="tt-heading-title">Aie! Erreur fatale!</h1>
                                </div>
                            </div>
                            <div class="margin-top-20">
                                <p class="max-width-600">Mais pas tant que ça :)</p>
                            </div>
                            <div class="margin-top-30">
                                <a href="mailto:contact@siker.ch?subject=Erreur%20Fatale%20chez%20Morgane&body=Url:{{ app.request.uri }} - Referer: {{ app.request.headers.get('referer') }}" class="btn btn-dark-bordered margin-top-5">Contacter le développeur si ce problème persiste</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}

{% endblock %}
