{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block page_header %}{{ parent() }}<h2><a href="{{ path('user_list') }}"> Liste des
        utilisateurs </a></h2><h2> Nouvel utilisateur</h2>
{% endblock %}

{% block body %}
    <section class="main-section">
        {{ form_start(form, {'action' : path('user_create')}) }}
        {% include 'user/_user_form.html.twig' %}
        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
